<%=link_to "See attractions", attractions_path %>
<br>
<h1>Welcome <%=current_user.name.capitalize%></h1>
<br>
<h4>Nausea: <%=current_user.nausea%></h4>
<br>
<h4>Happiness: <%=current_user.happiness%></h4>
<br>
<h4>Tickets: <%=current_user.tickets%></h4>
<br>
<h4>Height: <%=current_user.height%></h4>
